/* ----- begin defaults ----- */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    height: 100%;
    min-height: 100%;
}
h1,h2,h3,h4 {
    margin-bottom: 0.75em;
}
h1 {
    font-weight: 100;
    margin-top: 0;
}
p a {
    color: #60A0D1;
    display: inline;
    text-decoration: underline;
}
a:hover {
    cursor: pointer;
}
.purpleFont {
    color: #630C63;
}
/* ----- end defaults ----- */




/* ----- begin page wrapper ----- */
.pageWrapper {
    width: 90%;
    height: 100%;
    padding: 5%;
    margin-top: -1em;
    min-height: 100%;
    margin-bottom: -15em;
}
.pageWrapper:after {
    content: "";
    display: block;
}
/* ----- end page wrapper ----- */



/* ----- begin phone design ---- */
.phoneOuter {
    position: relative;
    top: -10em;
    width: 10em;
    height: 18em;
    min-width: 10em;
    min-height: 18em;
    border: solid 5px #7ABEBE;
    border-radius: 25px;
    background: #FFF;
    margin-right: 1em;
}
.camera {
    position: absolute;
    top: 0.5em;
    right: 4.5em;
    width: 0.5em;
    height: 0.5em;
    background: #61778D;
    border-radius: 1em;
}
.speaker {
    position: absolute;
    top: 1.25em;
    right: 3.75em;
    width: 2em;
    height:0.5em;
    background:#61778D;
    border-radius: 1em;
}
.screen {
    position: absolute;
    top: 2.15em;
    right: 0.6em;
    width: 8em;
    height:13em;
    background:#DDEAE0;
}
.contentTitle {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    width: 7em;
    height:1em;
    background:#60A0D1;
}
.contentLine1 {
    position: absolute;
    top: 2.5em;
    left: 0.5em;
    width: 5.25em;
    height:0.5em;
    background:#61778D;
}
.contentLine2 {
    position: absolute;
    top: 3.5em;
    left: 0.5em;
    width: 6.25em;
    height:0.5em;
    background:#61778D;
}
.contentLine3 {
    position: absolute;
    top: 4.5em;
    left: 0.5em;
    width: 4.75em;
    height:0.5em;
    background:#61778D;
}
.contentSubmitButton {
    position: absolute;
    bottom: 0.75em;
    left: 0.65em;
    width: 6.75em;
    height:1.25em;
    border-radius: 0.25em;
    background:#60A0D1;
}
.homeButton {
    position: absolute;
    bottom: 0.25em;
    left: 3.75em;
    width: 1.5em;
    height:1.5em;
    border-radius: 1em;
    background:#7ABEBE;
}
/* ----- end phone design ----- */



/* ----- begin nav bar ----- */
.headerWrapper {
    width: 90%;
}
.headerTitle {
    text-align: left;
    position: relative;
    color: #1E2B4E;
    font-weight: 100;
    text-transform: uppercase;
    padding-left: 0 !important;
    display: block;
    padding-top: 1em;
    font-size: 1.4em;
    text-shadow: none;
}
.headerTitle:hover {
    cursor: default;
}
.headerLogo {
    float: left !important;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
}
nav ul {
    padding-left: 0;
    list-style: none;
    position: relative;
    text-align: left;
}
nav ul li {
    float: right;
}
/* clear'n floats */
nav ul:after {
    clear: both;
}
nav ul:before,
nav ul:after {
    content: " ";
    display: table;
}
nav {
    position: relative;
    background: #006998;
    background-image: -webkit-linear-gradient(bottom, #338EC1 7%, #006998 100%);
    background-image: -moz-linear-gradient(bottom, #338EC1 7%, #006998 100%);
    background-image: -o-linear-gradient(bottom, #338EC1 7%, #006998 100%);
    background-image: linear-gradient(bottom, #338EC1 7%, #006998 100%);
    text-align: center;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #0E0E0E;
    padding: 0 5% 0 5%;
}
nav ul.primary li a {
    display: block;
    padding: 20px 30px;
}
nav ul.primary li a:hover {
    font-weight: bold;
    background: #006998;
    color: #FFF;
    text-decoration: none;
}
#menu-icon {
    display: none;
    width: 40px;
    height: 40px;
    color: #FFF;
}
/* ----- end nav bar ----- */




/* ----- begin reason section ----- */
.reasonsHeader {
    font-weight: bold;
    margin-top: 1.25em;
}
.reasonsList {
    padding-left: 1em;
}
/* ----- end reason section ----- */




/* ----- begin amazing mobile section ----- */
.bestBankColumn {
    max-height: 35em;
}
.amazingMobileContainer {
    background: #BAD7C3;
    width: 100%;
    margin-top: 1.5em;
    padding: 1em;
}
.amazingMobileHeader {
    margin-top: 0;
    font-weight:bold;
}
.amazingRow {
    height: 8em;
}
/* ----- end amazing mobile section ----- */




/* ----- begin rates section ----- */
.ratesTableHeaders span, .ratesTableFooters span {
    font-size: 0.75em;
}
.ratesHeader {
    margin-top: 2em;
    font-weight: lighter;
}
.ratesHeader span {
    border-right: solid 1px;
    padding-right: 0.25em;
}
.ratesBankName, .ratesBankPercentYield, .ratesBankYearEarnings {
    list-style: none;
}
.ratesRow {
    padding: 1em;
}
.ratesRow:hover {
    font-weight: bold;
    font-size: 1.1em;
}
.ratesOddRow {
    background: #DDEAE0;
}
.ratesEvenRow {
    background: #EDF5ED;
}
/* ----- end rates section ----- */




/* ----- begin login section ----- */
.loginButton {
    background: #630C63;
    color: #FFF;
    font-weight: bold;
    border-radius: 0;
}
.loginButton:hover {
    background: #490949;
    color: #FFF;
}
/* ----- end login section ----- */




/* ----- begin news and archive section ----- */
.tabcontainer {
    height: 100%;
}
ul.tabs {
    margin: 2.5em 0 0 0;
    padding: 0;
    list-style: none;
}
ul.tabs li {
    background: #DDEAE0;
    color: #60A0D1;
    display: inline-block;
    padding: 0.5em 0.75em;
    cursor: pointer;
    border-top: solid 1px #DFDFDF;
    border-right: solid 1px #DFDFDF;
}
ul.tabs li.current {
    background: #F5F5F5;
    border-top: solid 1px #DFDFDF;
    border-right: solid 1px #DFDFDF;
    color: #222;
}
.tabLeftBorder {
    border-left: solid 1px #DFDFDF;
}
.tab-content {
    display: none;
    background: #F5F5F5;
    padding: 1.5em;
}
.tab-content.current {
    display: inherit;
    border-top: solid 1px #DFDFDF;
    margin-top: -0.05em;
}
.tab-content.current h5 {
    color: #60A0D1;
}
.tab-content.current span {
    padding-bottom: 1em;
}
/* ----- end news and archive section ----- */




/* ----- begin footer ----- */
.footerWrapper {
    width: 90%;
}
footer {
    padding: 1em 5% 0 5%;
    background: #E6E6E6;
}
footer, .pageWrapper:after {
    height: 15em;
}
footer .footerLinks {
    list-style: none;
}
footer .footerLinks li {
    float: right;
    display: block;
    padding: 0 1em 0 1em;
}
/* ----- end footer ----- */




/* ----- begin modal section ----- */
#overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 0;
    min-width: 100%;
    min-height:100%;
    opacity: 0.65;
    background: #333;
}
#loginModal {
    position: absolute;
    background: #FFF;
    z-index: 0;
    top: 25%;
    left: 25%;
    opacity: 0;
    width: 50%;
    height: 40%;
}
.loginModalContainer {
    width: 90%;
    margin: 0 auto;
}
.loginModalContainer h3 {
    margin-top: 1em;
}
.loginModalContainer input {
    margin: 1em 0 1em 0;
    border-radius: 0;
    border: solid 1px #338EC1;
}
.loginModalContainer label {
    margin: 1.35em 0 1.35em 0;
}
#modalLoginButton {
    width: 10em;
    margin-top: 1em;
}
.closeButton {
    position: absolute;
    top: 1em;
    right: 1.25em;
    float: right;
    color: #338EC1;
    margin-right: -0.5em;
    margin-top: -0.25em;
}
.closeButton:hover {
    cursor: pointer;
}
/* ----- end modal section ----- */



/* ----- begin media queries ----- */
@media (max-width: 360px) {
    .bestBankColumn {
        max-height: 50em;
    }
}
@media (max-width: 768px) {
    .phoneOuter {
        display: none;
    }
    .loginButton {
        margin-top: 2em;
    }
    #menu-icon {
        display:inline-block;
        margin-top: 2em;
    }
    nav ul, nav:active ul {
        display: none;
        position: absolute;
        padding: 2em;
        background: #DDEAE0;
        border: 5px solid #BAD7C3;
        right: 0;
        z-index: 999;
        top: 1em;
        width: 50%;
        border-radius: 4px 0 4px 4px;
    }
    nav li {
        text-align: center;
        width: 100%;
        padding: 10px 0;
        margin: 0;
    }
    nav:hover ul {
        display: block;
    }
}

@media (max-width: 1024px) {
    .loginButton {
        margin-top: 2em;
    }
    .phoneOuter {
        position: relative;
        top: -5em;
        width: 5em;
        height: 9em;
        min-width: 5em;
        min-height: 9em;
        border: solid 5px #7ABEBE;
        border-radius: 12.5px;
        background: #FFF;
        margin-right: 0.5em;
    }
    .camera {
        position: absolute;
        top: 0.25em;
        right: 2em;
        width: 0.2em;
        height: 0.2em;
        background: #61778D;
        border-radius: 0.5em;
    }
    .speaker {
        position: absolute;
        top: 0.625em;
        right: 1.65em;
        width: 1em;
        height:0.25em;
        background:#61778D;
        border-radius: 0.5em;
    }
    .screen {
        position: absolute;
        top: 1.075em;
        right: 0.25em;
        width: 3.75em;
        height:6em;
        background:#DDEAE0;
    }
    .contentTitle {
        position: absolute;
        top: 0.25em;
        left: 0.375em;
        width: 3em;
        height:0.75em;
        background:#60A0D1;
    }
    .contentLine1 {
        position: absolute;
        top: 1.75em;
        left: 0.375em;
        width: 2.125em;
        height:0.2em;
        background:#61778D;
    }
    .contentLine2 {
        position: absolute;
        top: 2.25em;
        left: 0.375em;
        width: 3.125em;
        height:0.2em;
        background:#61778D;
    }
    .contentLine3 {
        position: absolute;
        top: 2.75em;
        left: 0.375em;
        width: 2.375em;
        height:0.2em;
        background:#61778D;
    }
    .contentSubmitButton {
        position: absolute;
        bottom: 0.375em;
        left: 0.25em;
        width: 3.25em;
        height:0.625em;
        border-radius: 0.125em;
        background:#60A0D1;
    }
    .homeButton {
        position: absolute;
        bottom: 0.125em;
        left: 1.875em;
        width: 0.75em;
        height:0.75em;
        border-radius: 0.5em;
        background:#7ABEBE;
    }
}
/* ----- end media queries ----- */
